

/***********
   COLORS
**********/


$lightgreen: #DAF2E0 !default;
$red: #EB7988 !default;
$blue: #0062A0 !default;
$pink : #E73B7B !default;
$grey : #CBC0BA !default;
$yellow: #FFD900 !default;
$darkyellow : #FFCC00 !default;
$black : #2F2522 !default;
$black2 : #231815 !default;
$lightpink : #fdebf2 !default;
$lightpink2: #fef3f7 !default;
$bluegreen : #5baaaa !default;
$lightgreen : rgb(162, 228, 135) !default;
$lightgrey : #efecea !default;
$lightblue : #CCFFFF !default;
$skyblue : #6699FF !default;
$skyblue2 : #6495ED !default;

/********************
   SECTION COLORS
********************/
$sec2BG : $lightgreen !default;
$sec4BG : $lightgreen !default;
$sec5BG : $lightgreen !default;


/********************
DASHBOARD colors
********************/
$mainDBgreen: #5baaaa !default;
$DBgray : #ededed !default;


